# Discord variables
DISCORD_TOKEN = "" # Discord application token
APP_ID = "" # Discord application ID
DISCORD_USER_ID = "" # ID of discord user

# Spotify Variables
SPOTIFY_CLIENT_ID = "" # Spotify client ID found : https://developer.spotify.com/dashboard/
